* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-form {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.employee-form__title {
  font-size: 2.25rem;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

.employee-form__data-upload {
  width: 100%;
  height: 50px;
  border: 2px dashed #ccc;
  position: relative;
  cursor: crosshair;
}

.employee-form__data-upload-input {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.employee-form__data-upload-label {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.employee-form__submit {
  width: 100%;
  height: 50px;
  border: none;
  background-color: hsl(0, 100%, 0%);
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 5px;
}

.employee-form__date-format {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.date-format__input {
  width: 0;
  flex-grow: 1;
  padding: 5px;
  appearance: none;
}

.employee-form__error {
  color: hsl(0, 80%, 50%);
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.employee-form__mandatory {
  color: hsl(0, 80%, 50%);
}

.data-display table {
  width: 100%;
  border-collapse: collapse;
}

.data-display th,
.data-display td {
  padding: 10px;
  border: 1px solid #ccc;
}

.data-display th {
  background-color: hsl(0, 0%, 90%);
}

.data-display td {
  text-align: center;
}

.data-display tr:nth-child(even) {
  background-color: hsl(0, 0%, 95%);
}
